/*------------------------------------*\
    #Home Page
\*------------------------------------*/

// main wrapper styles
#wrapper {
	@include display(flex);
	@include flex-direction(column);
	@include justify-content(center);	
}

// introduction
.introduction {
	text-align: center;
}

.intro-lead {
	max-width: rem(600);
	margin-left: auto;
	margin-right: auto;
	display: block;
	@extend h4;
}