/*------------------------------------*\
    #Introduction
\*------------------------------------*/

.introduction {
	text-align: center;
}

.logo {
	max-width: rem(141);
	height: auto;
}

.intro-copy {
	@include fadeInDown();	
}

.intro-lead {
	max-width: rem(600);
	margin: rem(15) auto rem(30);
	font-family: $font-family-sans-serif;
	@include type-scale(base);
	@include fadeInDown();
	@include animation-delay(.4s);	
}

.intro-line {
	height: rem(3);
	background: $text-color;
	margin: 0 auto;
	@include animation(drawLine .7s linear);
	@include animation-delay(.8s);
	@include animation-fill-mode(both);
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

/*------------------------------------*\
    #Social Icons
\*------------------------------------*/

.social-icons-section {
	position: absolute;
	bottom: rem(60);
	width: 100%;
	text-align: center;
}

.social-icons-wrap {
	margin-bottom: 0;
}

.social-icon-item {
	@include rotateIn();

	@for $item from 1 through 4{

	  &:nth-child(#{$item}){ 
	    @include animation-delay(#{$item / 10}s); 
	  }
	}	
}

.social-icon {
	color: inherit;
	display: inline-block;
	border: 3px solid rgba($text-color, 0.5);
	width: 54px;
	height: 54px;
	border-radius: 50%;
	font-size: rem(25);
	text-align: center;
	@include transition(all .3s ease-in-out);

	&:hover, &:focus {
		color: inherit;
	}

	&:hover {
		border-color: $text-color;
	}

	&:not(:last-child) {
		margin-right: rem(15);
	}

	i {
		vertical-align: -9px;
	}

}

