/*------------------------------------*\
    #Social Icons
\*------------------------------------*/

.social-icons-section {
	text-align: center;
	position: fixed;
	top: rem(15);
	right: rem(15);
}

.social-icons-wrap {
	margin-bottom: 0;
}

.social-icon {
	color: inherit;
	display: inline-block;
	border: 3px solid rgba($text-color, 0.5);
	width: 54px;
	height: 54px;
	border-radius: 50%;
	font-size: rem(25);
	text-align: center;
	@include transition(all .3s ease-in-out);

	&:hover, &:focus {
		color: inherit;
	}

	&:hover {
		border-color: $text-color;
	}

	&:not(:last-child) {
		margin-right: rem(15);
	}

	i {
		vertical-align: -9px;
	}
}