section.introduction
	h1.intro-copy Rudy Noel Crespo

	p.intro-lead I'm a front end developer from New York City dedicated to building transcendent web experiences. I also enjoy reading, writing, and questioning reality. 		