//- section.resume
//- 	a.resume-link(href="../resume.pdf", target="_blank") Download Resume

section.introduction
	h1.intro-copy Rudy Noel Crespo
	h2.intro-lead I'm a front end developer from New York City.
	div.intro-line