section.social-icons-section
	ul.social-icons-wrap.list-inline
		li
			a.social-icon(href="https://www.linkedin.com/in/rudycrespo", target="_blank", title="Linkedin")		
				i.fa.fa-linkedin

		li					
			a.social-icon(href="https://twitter.com/mentalgymnast", target="_blank", title="Twitter")		
				i.fa.fa-twitter

		li
			a.social-icon(href="https://github.com/rcrespo9", target="_blank", title="Github")		
				i.fa.fa-github-alt	

		li
			a.social-icon(href="mailto:rudy.crespo20@gmail.com", title="Contact via e-mail")
				i.fa.fa-paper-plane