section.social-icons-section
	ul.social-icons-wrap.list-inline
		li.social-icon-item
			a.social-icon(href="https://www.linkedin.com/in/rudycrespo", target="_blank")		
				i.fa.fa-linkedin

		li.social-icon-item					
			a.social-icon(href="https://twitter.com/mentalgymnast", target="_blank")
				i.fa.fa-twitter

		li.social-icon-item
			a.social-icon(href="https://github.com/rcrespo9", target="_blank")		
				i.fa.fa-github-alt

		li.social-icon-item
			a.social-icon(href="mailto:hello@rudycrespo.com")
				i.fa.fa-paper-plane