/*------------------------------------*\
    #Variables
\*------------------------------------*/

// colors
$white: #fff;
$midnight-blue: #2c3e50;

// breakpoints
$mobile-breakpoint-width: 520px;
$mobile-breakpoint-height: 480px;


/*------------------------------------*\
    #Bootstrap Variables
\*------------------------------------*/
// body
$body-bg: $midnight-blue;

// text
$text-color: $white;

// fonts
$font-family-sans-serif: 'Calluna Sans W01', Helvetica, Arial, sans-serif;
$font-family-serif: 'Calluna W01', Georgia, Times, serif;

$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-serif;