@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* Circular Content Carousel Style */
.ca-container {
	position: relative;
	margin: 25px auto 20px auto;
	width: 1120px;
	height: 281px;
}

.ca-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.ca-item {
	position: relative;
	float: left;
	width: 375px;
	height: 100%;
	text-align: center;
}

.ca-close{
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/x-mark.png) no-repeat center center;
	border-radius: 3px;
	width: 27px;
	height: 27px;
	text-indent: -9000px;
	outline: none;
}

.ca-item-main {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: #fffcec;
	overflow: hidden;
}

.ca-icon {
	width: 375px;
	height: 281px;
	position: relative;
	margin: 0 auto;
	opacity: .7;
	background: transparent url(../images/live-discourse.png) no-repeat center center;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	line-height: 18em;
}

.ca-item-main:hover .ca-icon {
	opacity: 1;
}

.ca-item-2 .ca-icon {
	background-image:url(../images/themirrorparadox.png);
}
.ca-item-3 .ca-icon {
	background-image:url(../images/crowded-lands.png);
}
.ca-item-4 .ca-icon {
	background-image:url(../images/tailored-tales.png);
}

.ca-item-5 .ca-icon {
	background-image:url(../images/afflatus.png);
}

.ca-icon .screenshot-button {
	box-shadow: none;
	border: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	color: #fff;
	font-weight: 400;
	font-family: "Source Sans Pro", sans-serif;
	text-transform: uppercase;
	background: #ed8d6c;
	margin: 5px;
	position: relative;
	opacity: 0;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	font-size: 0.875em;
	padding: 9px 15px;
}

.ca-item-main:hover .ca-icon .screenshot-button {
	opacity: 1;
}

.ca-item-main .ca-icon .screenshot-button:visited {
	color: #fff;
}

.ca-item-main .ca-icon .screenshot-button:hover {
	color: #fff;
	background: #FF9874;
}

.ca-content-wrapper {
	background: #30444e;
	color: #fff;
	position: absolute;
	width: 0px; /* expands to width of the wrapper minus 1 element */
	height: 271px;
	top: 5px;
	text-align: left;
	z-index: 10000;
	overflow: hidden;
}
.ca-content {
	width: 660px;
	overflow: hidden;
}
.ca-content-text {
	font-size: 1.15em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	margin: 10px 20px;
	padding: 10px 20px;
	line-height: 24px;
}
.ca-content-text p {
	padding-bottom: 5px;
}
.ca-content h6 {
	margin: 25px 20px 0px 35px;
	font-size: 1.6em;
	padding-bottom: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	border-bottom: 2px solid #fff;
	text-transform: uppercase;
}

.ca-nav span {
	width: 25px;
	height: 38px;
	background: transparent url(../images/nav-arrows.png) no-repeat top left;
	position: absolute;
	top: 50%;
	margin-top: -19px;
	left: -40px;
	text-indent: -9000px;
	opacity: 0.7;
	cursor: pointer;
	z-index: 100;
	-webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.ca-nav span.ca-nav-next {
	background-position: top right;
	left: auto;
	right: -40px;
}
.ca-nav span:hover {
	opacity: 1.0;
}