/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 640px) {
/* Styles */
	.contact-info {
	  margin-top: 10px;
	}

	.social-icon {
	  padding: 7px;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 640px) {
/* Styles */
	.introduction {
		font-size: 3.2em;
	}

	.lead {
		font-size: .89em;
	}
}
 
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 360px) {
/* Styles */
	.introduction {
		font-size: 2.2em;
	}

	.lead {
		font-size: 1.1em;
	}

	.v-center {
		margin-top: 40%;
	}
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
	.contact-info {
	  margin-top: 10px;
	}
}
 
/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
/* Styles */
	.v-center {
		margin-top: 22%;
	}
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
/* Styles */
	.introduction {
		font-size: 5.3em;
	}

	.lead {
		font-size: 1.45em;
	}

	.v-center {
		margin-top: 38%;
	}
}