@media(max-width:768px){
	.introduction {
	  font-size: 5.3em;
	}

	.lead {
	  font-size: 1.45em;
	  text-shadow: 0 0 8px rgba(0,0,0,.5);
	}

	.v-center {
	  margin-top: 33%;
	}

	.about-me {
	  margin-top: 25%;
	}
}

/*@media only screen and (max-width:1024px){
	.v-center {
	  margin-top: 22%;
	}

	.about-me {
	  margin-top: 17%;
	}
}*/

@media(max-width:320px){
	.introduction {
	  font-size: 2.2em;

	}

	.lead {
	  font-size: .9em;
	  text-shadow: 0 0 8px rgba(0,0,0,.5);
	}

	.v-center {
	  margin-top: 40%;
	}

	.about-me {
	  margin-top: 25%;
	}
}

