@import url(http://fonts.googleapis.com/css?family=Alegreya:700|Source+Sans+Pro:400,800,900);

html,body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 3em;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}

/*parallax*/
.slide{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-down {
  width: 75px;
  margin: 0 auto 0 auto;
  margin-top: 5%;
}

.button{
  display: block;
  width: 55px;
  height: 55px;
  border: solid white;
  border-radius: 100px;
  background: url(../images/arrow.png) no-repeat;
  opacity: .5;
    -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.button:hover{
  opacity: 1;
}
/*end parallax*/

/*menu*/
.navigation a {
  font-weight: 400;
  font-size: .8em;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>li>a {
  color: #30444e;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #30444e;
}

.navbar-default .navbar-nav>li>a:hover, .active {
  text-decoration: underline;
}

/*end menu*/

/* introduction */
#slide1{
  background-image: url(../images/deep_blue.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.introduction {
  font-family: 'Alegreya', serif;
  font-size: 6.5em;
  font-weight: 900;
}

.lead {
  font-size: 1.74em;
}

.v-center {
  margin-top: 18%;
}
/*end introduction*/


/*portfolio*/
#slide2 {
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio {
  margin-top: 9%;
}

.portfolio-header {
  color: #30444e;
  margin-bottom: 45px;
}

.resume-button {
  margin-top: 3%;
}

#resume {
  display: block;
  font-size: 1em;
  width: 200px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #30444e;
  text-align: center;
  text-decoration: none;
  padding: 18px 40px 16px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

#resume:visited {
  color: #fff;
}

#resume:hover {
  background: #38505C;
  color: #fff;
}
/*end portfolio*/


/*about me*/
#slide3{
  background-color: #131C28;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-me {
  color: #fff;
  line-height: 32.5px;
  margin-top: 8%;
}

.about-header {
  margin-bottom: 3%;
}

.bio-text {
  font-size: 1.25em;
  margin-bottom: 2em;
}
/*end about me*/


/*contact me*/
#footer{
  background-color: #fff;
  position:relative;
  height:100px;
  bottom:0;
  left:0;
  right:0;
}

.contact-info {
  margin-top: 60px;
}

.social-icon {
  padding: 43px;
}

#pinterest {
  background: url(../images/social-icons.png) no-repeat -6px -576px;
  width: 52px;
  height: 52px;
}

#pinterest:hover{
  background: url(../images/social-icons.png) no-repeat -6px -462px;
  width: 52px;
  height: 52px;
}

#linkedin {
  background: url(../images/social-icons.png) no-repeat -6px -348px;
  width: 52px;
  height: 52px; 
}

#linkedin:hover{
  background: url(../images/social-icons.png) no-repeat -6px -234px;
  width: 52px;
  height: 52px;
}

#github {
  background: url(../images/social-icons.png) no-repeat -6px -120px;
  width: 52px;
  height: 52px;
}

#github:hover{
  background: url(../images/social-icons.png) no-repeat -6px -6px;
  width: 52px;
  height: 52px;
}
/*end contact me*/

