@import url(http://fonts.googleapis.com/css?family=Alegreya:700|ABeeZee|Crete+Round|Antic+Slab);

html,body {
  height:100%;
  width: 100%;
    font-family: 'ABeeZee', sans-serif;
}

h2 {
  font-family: 'Crete Round', serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2em;
}

h3 {
  font-family: 'Crete Round', serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.5em;
}

p {
  font-family: 'ABeeZee', sans-serif;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.7em;
  }

  h3 {
    font-size: .8em;
  }
}


/*fadein animation*/
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*end fade animation*/


/*parallax*/
.slide{
  background-image: fixed;
  width:100%;
  height:100%;
  position: relative;
  overflow: hidden;
}

.slide-down {
  width: 75px;
  margin: 0 auto 0 auto;
  margin-top: 7%;
}

.button{
  display:block;
  width:55px;
  height:55px;
  border: solid white;
  border-radius: 100px;
  background:url(../images/arrow.png) no-repeat;
  opacity: .5;
    -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.button:hover{
  opacity: 1;
}
/*parallax*/

/*menu*/
.navigation {
  position:absolute;
  z-index:1;
  top:20px;
}
.navigation li {
  color:#fff;
  display:inline;
  font-weight:normal;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 45px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}
.navigation li:hover,.active {
  cursor:pointer;
  color: #F09979;
}

.navigation li:visited {
  color:#fff;
}

@media (max-width: 767px) {
  .navigation li {
    font-size: 11px;
  }
}
/*end menu*/

/* introduction */
#slide1{
  background-image: url(../images/blue_blur.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.introduction {
  font-family: 'Alegreya', serif;
  font-size:6.5em;
  font-weight: 700;
  color:#fff;
}

.lead {
  font-size: 1.5em;
  color:#fff;
}

.v-center {
  margin-top:15%;
}

@media (max-width: 767px) {
  .introduction {
    font-size: 4em;
  }

  .lead {
    font-size: 1em;
  }

  .v-center {
    margin-top: 35%;
  }
}
/*end introduction*/


/*portfolio*/
#slide2 {
  background-image: url(../images/black_and_blue.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-header {
  color: #f2f2f2;
  margin-bottom: 20px;
}

.work {
  margin-top: 10%;
}

a.screenshot {
  height: 212px;
  display: inline-block;
  width: 375px;
  margin: 10px;
  text-align: center;
  -webkit-box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.5);
}

span.roll {
  background:url(../images/mag.png) center center no-repeat #000;
  height: 212px;
  position: absolute;
  width: 375px;
  z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000; 
}

.to-about {
  margin-top: 60px;
}

.about-button {
-webkit-transition: background-color .5s cubic-bezier(0.25,0.46,0.45,0.94);
-moz-transition: background-color .5s cubic-bezier(0.25,0.46,0.45,0.94);
-o-transition: background-color .5s cubic-bezier(0.25,0.46,0.45,0.94);
transition: background-color .5s cubic-bezier(0.25,0.46,0.45,0.94);
-webkit-box-shadow: 0 5px 0 #1F4D5E;
-moz-box-shadow: 0 5px 0 #1F4D5E;
box-shadow: 0 5px 0 #1F4D5E;
border-radius: .25em;
background: #2E708A;
color: #f2f2f2;
padding: .5em 1em;
font-weight: 700;
font-size: 1.1em;
text-shadow: 0 1px 0 rgba(0,0,0,0.25);
word-wrap: nowrap;
text-transform: uppercase;
letter-spacing: .05em;
-webkit-font-smoothing: antialiased;
}

.about-button:hover{
  -webkit-box-shadow: 0 5px 0 rgba(31,77,94,0.7);
  -moz-box-shadow: 0 5px 0 rgba(31,77,94,0.7);
  box-shadow: 0 5px 0 rgba(31,77,94,0.7);
  color: #f2f2f2;
  background: rgba(46,112,138,0.75);
}
/*end portfolio*/


/*about me*/
#slide3{
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 .about-header {
  color: #161926;
 }

 .bio-header {
  color: #3f3f3f;
 }

 .bio-text {
  color: #666;
  font-size: 1.1em;
 }

 #diagram {
float:right;
width:600px;
height:600px;
}

.get {
display:none;
}

@media (max-width: 767px) {

  .bio {
    margin-top: 7%;
  }

  .bio-text {
    font-size: .67em;
  }
}
/*end about me*/


/*contact me*/
#footer{
  background-color: #0b1f2c;
  position:relative;
  height:100px;
  bottom:0;
  left:0;
  right:0;
}

.contact-me {
  color: #f2f2f2;
}

.social-icons {
  margin-top: 55px;
  text-align: center;
}

.social-icon {
  padding: 43px;
}

#email {
  background: url(../images/email-sprite-sheet.png) no-repeat;
  background-position: 0 -114px;
  height: 64px;
  width: 64px;
}

#email:hover{
  background-position: 0 0;
  height: 64px;
  width: 64px;
}

#linkedin {
  background: url(../images/linkedin-sprite-sheet.png) no-repeat;
  background-position: 0 -114px;
  height: 64px;
  width: 64px; 
}

#linkedin:hover{
  background-position: 0 0;
  height: 64px;
  width: 64px;
}

#github {
  background: url(../images/github-sprite-sheet.png) no-repeat;
  background-position: 0 -114px;
  height: 64px;
  width: 64px; 
}

#github:hover{
  background-position: 0 0;
  height: 64px;
  width: 64px;
}

#scroll-top {
  background: url(../images/arrow-sprite-sheet.png) no-repeat;  
  background-position: 0 -98px;
  height: 48px;
  width: 48px;
  position: absolute;
  bottom: 43px;
  right: 10px;
}

#scroll-top:hover {
  background-position: 0 0;
  height: 48px;
  width: 48px;
}
/*end contact me*/