@import url(http://fonts.googleapis.com/css?family=Alegreya:700|Source+Sans+Pro:400,600,700,800,900);

html,body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2.5em;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}

/*parallax*/
.slide{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-down {
  width: 75px;
  margin: 0 auto 0 auto;
  margin-top: 5%;
}

.button{
  display: block;
  width: 55px;
  height: 55px;
  border: solid white;
  border-radius: 100px;
  background: url(../images/arrow.png) no-repeat;
  opacity: .5;
    -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.button:hover{
  opacity: 1;
}
/*end parallax*/

/*menu*/
.navigation a {
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #d3d7d8;
}

.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}

.navbar-default .navbar-nav>li>a {
  color: #30444e;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #30444e;
}

.navbar-default .navbar-nav>li>a:hover, .active {
  text-decoration: underline;
}
/*end menu*/

/* introduction */
#slide1{
  background-image: url(../images/deep_blue.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.introduction {
  font-family: 'Alegreya', serif;
  font-size: 6.5em;
  font-weight: 900;

}

.lead {
  font-size: 1.74em;
}

.v-center {
  margin-top: 18%;
}
/*end introduction*/


/*portfolio*/
#slide2 {
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio {
  margin-top: 9%;
}

.portfolio-header {
  color: #30444e;
  margin-bottom: 45px;
}

.see-code {
  margin-top: 3%;
}

#github-button {
  padding: 1em 0;
  font-size: 1em;
  color: #30444e; 
  width: 200px;
  background-color: #fff;
  border: 2px solid #30444e;
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s ease-in-out, 1s;
  -moz-transition: background-color 0.5s ease-in-out, 1s;
  -o-transition: background-color 0.5s ease-in-out, 1s;
  transition: background-color 0.5s ease-in-out, 1s;
  text-decoration: none;
  text-transform: uppercase;
}

#github-button:visited {
  color: #30444e;
}

#github-button:hover {
  background: #30444e;
  color: #fff;
}
/*end portfolio*/


/*about me*/
#slide3{
  background-color: #131C28;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-me {
  color: #fff;
  line-height: 32.5px;
  margin-top: 8%;
}

.about-header {
  margin-bottom: 3%;
}

.bio-text {
  font-size: 1.25em;
  margin-bottom: 2em;
}
/*end about me*/


/*contact me*/
#footer{
  background-color: #fff;
  position:relative;
  height:100px;
  bottom:0;
  left:0;
  right:0;
}

#footer i {
  color: #30444e;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contact-info {
  margin-top: 20px;
}

.social-icon {
  padding: 20px;
}

#footer i.fa-linkedin-square:hover{
  color: #0e76a8;
}

#footer i.fa-github-square:hover{
  color: #171515;
}

#footer i.fa-pinterest-square:hover{
  color: #c8232c;
}
/*end contact me*/

