/*------------------------------------*\
    #Base Typography
\*------------------------------------*/

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	@include type-scale(xxxlarge);
	margin-bottom: rem(15);
}


h2 {
	@include type-scale(xlarge);
}

h3 {
	@include type-scale(large);
}

h4 {
	@include type-scale(medium);
	margin-bottom: rem(20);
}

p, dl {
	@include type-scale(base);
	@include type-weight(regular);
}

small {
	@include type-scale(small);
}

strong {
	@include type-weight(medium);
}

